<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <% include templates/header.ejs %>
</head>
<body>
<div class="container">
    <h1>Hi <%= user %></h1>

    <div id="onlineUsers">
        <h4>Current Online Users</h4>
        <ul>
            <% for (var i = 0; i < onlineUsers.length; i++){ %>
            <li><%= onlineUsers[i] %> </li>
            <% } %>
        </ul>
    </div>
    <div>
        <form action="/game/" method="POST">
            <input name="user" value="<%= user %>" type="hidden">
            <input type="submit" value="Start Game">
        </form>
    </div>
    <script>
        initWebSocket("<%= user %>");
    </script>
</div>
</body>
</html>