<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <% include templates/header.ejs %>
</head>
<body>
<div id="newUser">
        <h1>
            New User
        </h1>
    <form method="post" id="userForm" role="form">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="password" onkeyup="confirmPassword($('#confirm')[0], this)" type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input onkeyup="confirmPassword(this, $('#password')[0])" id="confirm" type="password" class="form-control">
            <div style="position: relative">
                <div id="passwordNoMatch">Passwords do not match<img id="cross" src="/images/Cross.png"></div>
                <div id="passwordMatch">Passwords match<img id="tick" src="/images/Tick.png"></div>
            </div>
        </div>
        <div class="form-group">
            <input onclick="submit(document.getElementById('userForm'))" type="button" class="form-control submitBtn" value="Create User">
        </div>
    </form>
</div>
<img id="leaves" src="/images/leaves.png">
</body>
</html>