<div id="chatRoom">
    <div id="chatConsole">
    </div>
    <div id="chatUserInput">
        <textarea></textarea>
    </div>
    <script>
        $(document).ready(function()
        {
            $("#chatUserInput textarea").on("keyup", function(event)
            {
                if(event.keyCode == 13)
                {
                    sendChatMessage($(this).val());
                    $(this).val("");
                }
            });
        });
    </script>
</div>
