<div class="form-group" id="chatRoom">
    <div id="chatConsole">
        <span id="chatConsoleHeading">Chat Messages</span>
    </div>
    <div id="chatUserInput">
        <textarea placeholder="Enter your message here" class="form-control"></textarea>
        <button type="button" class="btn btn-primary">
            Send
        </button>
    </div>

    <script>
        $(document).ready(function()
        {
            $("#chatRoom").draggable();

            $("#chatUserInput textarea").on("keyup", function(event)
            {
                if(event.keyCode == 13)
                {
                    sendMessage();
                }
            });

            $("#chatUserInput button").on("click", function()
            {
                sendMessage();
            });

            function sendMessage()
            {
                var textArea = $("#chatUserInput textarea");
                sendChatMessage(textArea.val())
                textArea.val("");
             }
        });
    </script>
</div>
