<div id="chatRoom">
    <div id="chatConsole">
    </div>
    <div id="chatUserInput">
        <textarea></textarea>
        <button>Send</button>
    </div>

    <script>
        $(document).ready(function()
        {
            $("#chatUserInput textarea").on("keyup", function(event)
            {
                if(event.keyCode == 13)
                {
                    sendMessage();
                }
            });

            $("#chatUserInput button").on("click", function()
            {
                sendMessage();
            });

            function sendMessage()
            {
                var textArea = $("#chatUserInput textarea");
                sendChatMessage(textArea.val())
                textArea.val("");
             }
        });
    </script>
</div>
