#newUser, #login
{
  width: 30%;
  min-width: 300px;
  margin: auto;
}

#multiPlayerDialog label
{
  color: black;
}

#startGameBtn
{
  position: absolute;
  bottom: 40%;
  font-size: 200%;
  width: 200px;
}

#homepage .chatArea
{
  position: relative;
  margin-top: 15%;
  float: right;
  display: inline-block;
}

#game .chatArea
{
  position: relative;
  margin-right: 30%;
  float: right;
  display: inline-block;
}

#chatRoom
{
  display: inline-block;
}

#chatRoom div
{
  min-width: 20vw;
  margin: 10px;
}

#chatConsole
{
  overflow: scroll;
  height: 30vh;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

#chatUserInput
{
  height: 5vh;
}

#chatUserInput textarea
{
  width: 100%;
  height: 100%;
}

#players
{
  font-size: 200%;
  margin-left: auto;
  margin-right: auto;
}

#login img
{
  width: 100%;
}

#players th
{
  color: lightgreen;
}

#players tr
{
  color: lightgray;
}

.form-group
{
  margin-bottom: 25px;
}

label, #login a
{
  color: white;
  font-size: 125%;
}

#login a
{
  font-style: italic;
  text-decoration: underline;
}

#cardStack
{
  float: left;
  width: 270px;
  height: 200px;
}

#game {
  min-width: 425px;
  margin: auto;
}

.movable
{
  margin-bottom: 20px;
  margin-top: 20px;
  border-style: groove;
  padding: 20px;
  border-radius: 20px;
}

#drawnCard
{
  position: absolute;
  right: 0;
}

body
{
  background-image: url("/images/blackBackground.jpg");
}

#playerHand
{
  background-image: url("/images/playerHand.png");
  border-radius: 20px;
  padding: 20px;
  border: 5px outset;
  margin-bottom: 40px;
}

#onlinePlayers td[data-active-player='true']
{
  color: red;
  font-size: 200%;
}

#onlinePlayers
{
  color: white;
}

#onlinePlayers th
{
  font-size: 175%;
}

#onlinePlayers td
{
  font-size: 150%;
}

/*div.cardStack {*/
  /*margin-top: 10%;*/
/*}*/

img.playingCard
{
  width: 100px;
  margin: 5px;
}

#tableArea
{
  position: relative;
}

h1
{
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
}

#newUser img.feedback
{
  height: 40px;
  width: 40px;
}

#onlinePlayersPlaceholder
{
  display: table;
}

.submitBtn
{
  background-color: #23527c;
  margin-top: 70px;
  color: white;
  height: 50px;
  font-size: 150%;
}

#leaves
{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  max-width: 700px;
  min-width: 250px;
}

#cross
{
  height: 30px;
  float: right;
}

#tick
{
  height: 20px;
  margin-left: 10px;
  float: right;
}

#passwordNoMatch, #passwordMatch, #usernameTaken, #usernameAvailable
{
  position: absolute;
  top:0;
  left: 0;
  display: none;
  margin-top: 10px;
}

#passwordNoMatch, #usernameTaken
{
  color: red;
}

#passwordMatch, #usernameAvailable
{
  color: green;
}

#userForm #username
{
  margin-bottom: 50px;
}

#announcementAttachPoint .textMessage
{
  margin-bottom: 10px;
}

#homepage #greeting, #homepage #logout
{
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
}

#homepage #logout
{
  float: right;
  font-size: 125%;
}

button.ui-dialog-titlebar-close
{
  background-image: url("/bower_components/jquery-ui/themes/smoothness/images/ui-icons_888888_256x240.png");
  background-position: -96px -128px;
  border-style: solid;
  border-color: grey;
}

.defeatedPlayer
{
  text-decoration: line-through;
}

.message
{
  display: block;
}

#chatUserInput button
{
  margin-top: 10px;
}

#chatConsoleHeading
{
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
  margin-bottom: 10px;
}

.message .sender
{
  font-weight: bold;
  color: #5B93DE;
}